.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background-color: #f1ece7;
}

.login-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    width: 100%;
    text-align: center;
}
.form__content{
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}
.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    min-width: 300px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.register__link {
    margin-top: 20px;
    text-align: center;
}

.register__button-submit{
    display: inline-block;
    padding: 5px 16px;
    justify-content: center;
    height: 32px;
    text-decoration: none;
    border: 1px solid #867a71;
    border-radius: 1px;
    background-color: #f1ece7;
    color: #867a71;
    cursor: pointer;
    transition: background-color 0.2s;
    }