.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    width: 100%;
    height: 100vh;
    background-color: #f1ece7;
    color: #827b70;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    width: 100%;
    text-align: center;
}

.form__content {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .form__content {
        max-width: 350px;
        padding: 25px;
    }

    .form__input--text input {
        min-width: 250px;
    }

    .form__button-submit {
        width: 50%;
        height: 45px;
    }
}

@media (max-width: 768px) {
    .register-form__content {
        padding: 20px 10px;
    }

    .form__content {
        max-width: 100%;
        padding: 20px;
    }

    .form__input--text input {
        min-width: auto;
    }

    .form__button-submit {
        width: 70%;
        height: 45px;
    }

    .login__button-submit {
        width: 70%;
        height: 40px;
    }
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #d2d1cf;
    background-color: #f5f5f5;
    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #827668;
    color: #fff;
    cursor: pointer;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}

.login__button-submit {
    display: inline-block;
    padding: 5px 16px;
    justify-content: center;
    height: 32px;
    text-decoration: none;
    border: 1px solid #d6c1af;
    border-radius: 1px;
    background-color: #f1ece7;
    color: #d6c1af;
    cursor: pointer;
    transition: background-color 0.2s;
}